
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}
h1{
    font-size: 10px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 15px 30px;
}

.name{
    color: Blue;
    font-size: 24px;
}

.nav{
    list-style: none;
    display: flex;
    gap: 30px; /* gives spacing between words */
}

.nav a{
    text-decoration: none;
    color: rgb(49, 46, 46);
    font-size: 18px;
}

.nav a:hover{
    color: #8dd6e5;
}